/* You can add global styles to this file, and also import other style files */

// fonts
$font-color: white;

// html elements
$html-background-head: #494949;
$html-background-para: #202020;

html, body { 
    height: 100%;
    color: white;
    background-color: $html-background-para;
    /* hide scrollbar but allow scrolling */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow: hidden; /* In general */
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

div, header, footer, main {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

header, footer {
    background-color: $html-background-head;
}

