<header>
    <h1>{{ title | uppercase }}</h1>
</header>

<main>

    <mat-grid-list cols="2" [rowHeight]="viewGridHeight">
        <mat-grid-tile colspan="2" rowspan="2">
            <ngx-charts-line-chart
                [view]="viewCurve"
                [scheme]="colorScheme"
                [results]="events"
                [legend]="true"
                [legendTitle]="curveTitle"
                [legendPosition]="legendPosition"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxis]="true"
                [yAxis]="true"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [yScaleMin]="0"
                [showGridLines]="false"
                [timeline]="false"
                [animations]="true"
            >
            </ngx-charts-line-chart>
        </mat-grid-tile>
        <mat-grid-tile>
            <ngx-charts-number-card
                [scheme]="colorScheme"
                [results]="lastPingValues"
                [valueFormatting]="cardFormatter"
                [animations]="true"
            >
            </ngx-charts-number-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <ngx-charts-bar-vertical
                [scheme]="colorScheme"
                [results]="packetLossValues"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [barPadding]="15"
                [tooltipDisabled]="true"
                [yScaleMin]="0"
                [animations]="true"
            >
            </ngx-charts-bar-vertical>
        </mat-grid-tile>
    </mat-grid-list>

    

</main>